<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8175301c-55bc-4418-a2c5-8c703343e110/resourceGroups/SaiKiranJillaRG/providers/Microsoft.Web/sites/HealthInformaticsAPI</ResourceId>
    <ResourceGroup>SaiKiranJillaRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://healthinformaticsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b73f9aad-744d-46c9-9089-092076e97358</ProjectGuid>
    <MSDeployServiceURL>healthinformaticsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HealthInformaticsAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$HealthInformaticsAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUIjmMjudxUGnTPDGLq7TPAAAAAACAAAAAAAQZgAAAAEAACAAAACWlnqK3pmS00BkX39rMxGFpUD/mG60uhR4GINTkvWTXQAAAAAOgAAAAAIAACAAAACgPS97A8cvkbrzJVkUDQDDoE2OR3UkjalH3JOZ1Iz/r4AAAAAYM/G9DhdRNPWcwDwexBEu3WumKB9W6M9Xp2W5SD7TmftkK4HrxirGTwZTAlNufyeOsKQZQ0UmOXPQU9lUYNhwIq1dpAVjDuCVBiMD87A+WeLBBaIvDNOkdwMCXljZg4FWOUlvZtJluLXUzGahyBO5NL0hUvqbIrMi8aq78vKdR0AAAADUpuxVBmD+fOcvP11rlP5L4ZPwdmf0j/AAgwD5p6ITgSt+lePcT5TK1CopjKftNx+BBVwTnE2dB+ffA0i00O6p</EncryptedPassword>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>