<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8175301c-55bc-4418-a2c5-8c703343e110/resourceGroups/SaiKiranJillaRG/providers/Microsoft.Web/sites/HealthInformaticsAPI</ResourceId>
    <ResourceGroup>SaiKiranJillaRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://healthinformaticsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b73f9aad-744d-46c9-9089-092076e97358</ProjectGuid>
    <MSDeployServiceURL>healthinformaticsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HealthInformaticsAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$HealthInformaticsAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUIjmMjudxUGnTPDGLq7TPAAAAAACAAAAAAAQZgAAAAEAACAAAABktPX842ZU9Q0MOn9Wq969/9HAyECTr8aKJA68/+FypgAAAAAOgAAAAAIAACAAAAAy26Ao/sAlx7C7yZZhX9qotrRI0ZYL5JV8Fe+F83iyV4AAAAB1iwIAe4AquQQK8ppS/rzLlFHu4pYZdmPpumuSaUwAkMYMd+iPfMPtZ0Q658xIgKuX9A6LhJSNhiBx1W5257TQOuYhpd0vb0DM8KCuM2DgdmxKlD27OHpusBv4grhPKago80A5kW6faw/vALrEWJQhQRKdnQKoW/RGmSfpmIN+MkAAAACQGDylfhquY8FliSSVSrjiAFc6s9b8paJhY/avKXTkn7+j2W+LY8WFRvrK1lGlq3CnTauTM+Ox4iR07XCZt5mG</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>